.div {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 15px;
    padding: 10px;
    border: 2px solid;
    border-color: #EFF3F4;
    background-color: #fff;
    transition: transform 0.3s ease;
    height: 144px;

}

.h2 {
    
    font-size: 20px;
}

.indiv {
    display: flex;
    margin-top: 20px;
    justify-content: flex-start;
    
}

.buttonDiv {
    border: 2px solid;
    height: 36px;
    width: 100px;
    border-radius: 20px;
    border-color: #7856FF;
}

.span{
    text-align: left;
}