
.mainDiv{
  display: flex;
  flex-wrap: wrap; /* Satır boyunca taşan div'ler bir alt satıra geçer */
  width: 100vw; /* Ebeveyn elemanının genişliği */
  height: 100vh; /* Ebeveyn elemanının yüksekliği */ 
}

.flexDiv{
  
  height: 100%;
  flex: 1; /* Her div'in eşit genişlikte olmasını sağlar */
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  box-sizing: border-box;
}

.leftDiv{
  padding-top: 4%;
  padding-left: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}