.mainDiv {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  height: 100vh;
}
.sidebar {
  height: 100%;
  padding: 20px;
  text-align: center;
  grid-column: 3 / span 2;
}

.flowdiv{
  height: 100%;
  padding: 20px;
  text-align: center;
  grid-column: 5 / span 4;
}

.rightsidebar{
  height: 100%;
  padding: 20px;
  text-align: center;
  grid-column: 9 / span 2;
  
}

.buttondiv {
  height: 50px;
  margin-top: 10px;
  display: flex;

}