.mainDiv {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
 
  height: 100vh;
}
.sidebar {
  height: 100%;
  padding: 20px;
  text-align: center;
  grid-column: 4 / span 3;
}

.flowdiv{
  height: 100%;
  padding: 20px;
  text-align: center;
  grid-column: 7 / span 4;
}

.rightsidebar{
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  padding: 20px;
  text-align: center;
  grid-column: 14 / span 4;
  
}

.buttondiv {
  height: 50px;
  margin-top: 10px;
  display: flex;

}