

.hover_div{
    display: flex;
    flex-direction: column;
    border-top: 1px solid ; 
    border-bottom: 1px solid;  
    border-color: #EFF3F4;
}

.outer_div{
    
    display: flex;
    flex-direction: row;
    margin: 10px 10px;
    width: 100%;
    padding-right: 10px;
}

.hover_div:hover{
    background-color: #F7F7F7;
}

.non_icon_div{
    display: flex;
    flex-direction: row;
}

.p{
    color:#515558;
    font: 15px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif solid;
}

.pp_div{

}

.profile_div{
    
    display: flex;
}

.nick_label{
    font-size: 15px;
    font-weight: bold;
}

.username_label{
    padding-left: 5px;
    color: #536471;
    font-size: 15px;
}

.tweet_div{
    width: 100%;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.inline_tweet_div{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.pp_image{ 
    color:green;
    height: 100%;
    width: 100%;
}

.pp_button{
    border-radius: 50%;
    border-color: transparent;
    height: 40px;
    width: 40px;
    
}

.paragraph{
    display: flex;
    text-align: left;
    margin-top: 5px;
}

.icon_list_div{
    
    height: 34.75px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.icon_div{
    display: flex;
    border-radius: 50%;
    height: 34.75px;
    transition: border-color 0.3s ease;
    align-items: center;
    justify-content: center;
    overflow: visible;
}



.righticons_div{
    display: flex;
    gap: 10px;
}

.icon{
    position: relative;
    width: 18.75px;
    height: 18.75px;;
    color: #536471;
}
.icon svg{
    position: relative;
    z-index: 1;
}
.icon::before{
    content: "";
    position: absolute;
    display: inline-block;
    width: 34.75px;
    height: 34.75px;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.icon:hover:before{
    
    background-color: var(--tweet-icon-hover-color);
}

.icon_p{
    padding-left: 5px;
    font-size: 13px;
    color: #536471;
    position: relative;
    z-index: 1;
}