

.outerdiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid;
    border-color: #EFF3F4;
    background-color: #fff;
    transition: transform 0.3s ease;
    height: 144px;
}

.h2{
    font-size: 20px;
}