
.span{
    font-size: 20px;
    margin-left: 20px;
}

.div{
    
    transition: 0.2s ease, background-color 0.2s;
    display: flex; /* İçeriği yatayda hizalar */
    align-items: center;
    padding: 15px;
    margin:10px;
    justify-content:space-between;
    border-radius: 20% / 100%; /* Elips şeklinde köşeler */
    }
.div:hover{
    background-color: rgba(15, 20, 25, 0.1);
    
}